h1, h2, h3, h4, h5, h5 {
  font-family: sans-serif;
}

strong {
    font-weight: bolder;
}

code {
  padding-left: 2px;
  padding-right: 2px;
  background-color: lightgray;
}

code.block {
  width: 80em;
  padding: 2px;
  margin: 1em;
  background-color: lightgray;
  display: block;
}

.smallPrint {
  font-size: 6pt;
}
